/* Universal Styles */
h1 {
    color: hotpink;
    font-size: 72px;
    text-align: center;
    padding-bottom: 0;
}
h2 {
    color: hotpink;
}
/* heading styles */

.mainheader {
    background-color: aqua; 
    align-content: center;
    width: auto;
    height: 250px;
        margin-bottom: 10px;
   background-image: url(images/zip_01.jpg);
    background-repeat: repeat;
    background-position: center;
    background-attachment: scroll;
}
a {
    text-decoration: none;
    padding: 5px;
     width: 25%;;
}
.byline {
    color: red;
        font-size: 26px;
    text-align: center;
    margin-top: 0;
}

a:active {color:  blue}
a:hover {background-color: aliceblue;
color: palegreen;}
a:checked {color: palevioletred;}
ul {
list-style-type: none;
        padding: 5px;
    font-size:  36px;
    text-align: center;
    
}
li {
width: 100%;
    display: inline; block;
    }

/* top body Styles */

body {
    background: linear-gradient(cyan, aqua);
    padding-bottom: 20px;
}
.center {
    width: 35%;
    margin: auto;
    padding: 10px;
    text-align: center;
    border-bottom: gray solid 0.03px;
    }
.container {
    background-color: cyan;
}
/* main body Styles */

h2 {background-color: aqua; align-content: center;
    width: 40%;
   margin: auto;
    text-align: center;
    border-bottom: gray solid 0.03px;
}

.left-column {
    width: 49%;
        float:left;
    padding-right: 8px;
    text-align: center;
    border-bottom: gray solid 0.03px;
        border-right: gray solid 0.03px;
    height: 350px;
}

.center-column {
    width: 49%;
    float: right;
    padding-right: 8px;
    padding-left: 8px;
    text-align: center;
    border-bottom: gray solid 0.03px;
    height: 350px;
}

.pics {
    width: 283px;
    height: 173px;
}

.right-column {
    width: 49%;
        float:left;
    padding-right: 8px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-right: gray solid 0.03px;
    border-bottom: gray solid 0.03px;
    height: 350px;
}
.bottom-right {
    width: 49%;
        float: right;
    padding-left: 8px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    height: 350px;
    border-bottom: gray solid 0.03px;
}
.last {background-color: aqua;
    border-bottom:  gray solid 0.03px;
    }
section {
    
}
p {
    color: black;
}

/* footer Styles */
footer {display: block;
}
